<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Add Customer</title>
    <link href="/styles.css" rel="stylesheet"/>
</head>
<body>
    <h1>Add A Customer Below</h1>
    <br/>
    <form action="/add-customer" method="post">
        <input type="text" name="firstName" placeholder="First Name"/><br/>
        <input type="text" name="lastName" placeholder="Last Name"/><br/>
        <input type="text" name="phone" placeholder="Phone Number"/><br/>
        <input type="text" name="email" placeholder="Email"/><br/>
        <button type="submit" class="coolButton">Add Customer</button>
    </form>
</body>
</html>