<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Customers Page</title>
    <link href="/styles.css" rel="stylesheet"/>
</head>
<body>
    <h1>Customers Page: Select an ID to View Full Profile</h1>
    <table>
        <thead>
        <tr>
            <td>ID:</td>
            <td>First Name:</td>
            <td>Last Name:</td>
        </tr>
        </thead>
        <tbody>
            <tr th:each="customer : ${customers}">
                <td><a th:href="@{'view-one/' + ${customer.getId()}}" th:text="${customer.getId()}"></a></td>
                <td th:text="${customer.getFirstName()}"></td>
                <td th:text="${customer.getLastName()}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
